.about {
  padding-bottom: 115px;

  @include vp-1023 {
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-bottom: 60px;
  }
}

.about__container {
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    top: 50px;
    left: -40px;
    content: "2023";
    font-family: "Roboto Condensed", sans-serif;
    font-size: 155px;
    font-weight: 700;
    line-height: 221px;
    transform: rotate(-90deg);
    background: $color-bg-darkblue url(../../img/about-bg.png) no-repeat;
    background-clip: text;
    color: transparent;

    @include vp-1023 {
      left: -20px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.about__text {
  padding-left: 255px;
  padding-bottom: 20px;
  color: $color-text-dark;

  @include vp-1023 {
    padding-left: 175px;
  }

  @include vp-767 {
    padding-left: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 51px;

    @include vp-1023 {
      margin-bottom: 5px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    margin-top: 0;
  }
}

.about__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 13px 30px;
  min-height: 45px;
  max-width: 185px;
  width: 100%;
  background-color: transparent;
  color: $color-deepsky-blue;
  border: 1px solid $color-deepsky-blue;
  text-transform: uppercase;
  transition: .3s;

  @include vp-767 {
    min-height: 35px;
    padding: 9px 20px;
  }

  &:hover {
    color: $color-text-light;
    background-color: $color-bg-darkblue;
  }
}
