.footer {
  padding: 50px 0 55px;
  background: $color-bg-darkblue;

  @include vp-767 {
    padding-top: 45px;
  }
}

.footer__container {
  display: flex;
  column-gap: 20px;


  @include vp-1023 {
    display: grid;
    grid-template-areas:
      "links links"
      "nav contacts";
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "links"
      "nav"
      "contacts";
  }

  @include vp-374 {
    padding: 0;
  }
}

.footer__links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @include vp-1023 {
    padding-bottom: 30px;
    flex-direction: row;
    align-items: center;
    grid-area: links;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 15px;
    border-bottom: 1px solid #afb8be;
  }
}

.footer__logo img {
  max-width: none;
}

.footer__socials {
  padding-left: 20px;

  @include vp-1023 {
    margin-left: auto;
  }

  @include vp-767 {
    margin-left: 0;
    padding-left: 0;
  }
}

.socials {
  display: flex;
  column-gap: 25px;
}

.socials__item {
  width: 30px;
  height: 30px;
  background-color: $color-alice;
  border-radius: 50%;

  svg {
    width: 30px;
    height: 30px;
  }
}
