.footer {
  padding: 50px 0 55px;
  background: $color-bg-darkblue;
}

.footer__container {
  display: flex;

  @include vp-1023 {
    display: grid;
    grid-template-areas:
      "links links"
      "nav contacts";
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "links"
      "nav"
      "contacts";
  }
}

.footer__links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @include vp-1023 {
    flex-direction: row;
    align-items: center;
    grid-area: links;
    margin-bottom: 30px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__socials {
  padding-left: 20px;

  @include vp-1023 {
    margin-left: auto;
  }

  @include vp-767 {
    margin-left: 0;
    padding-left: 0;
  }
}

.socials {
  display: flex;
  column-gap: 25px;
}

.socials__item {
  width: 30px;
  height: 30px;
  background-color: $color-alice;
  border-radius: 50%;

  svg {
    width: 30px;
    height: 30px;
  }
}

.footer__navigation {
  grid-area: nav;
  margin-left: auto;
  max-width: 340px;
  color: $color-text-light;

  @include vp-1023 {
    margin-left: 0;
  }

  p {
    margin-top: 0;
    text-transform: uppercase;
  }

  a {
    color: inherit;
  }
}

.navigation {
  ul {
    padding: 0;
    columns: 2;
    list-style-type: none;
    opacity: 0.7;

    @include vp-1023 {
      columns: 1;
    }
  }

  li {
    margin-bottom: 5px;
  }
}

.footer__contacts {
  grid-area: contacts;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  color: $color-text-light;

  @include vp-767 {
    margin-left: 0;
  }

  p {
    margin-top: 0;
    text-transform: uppercase;
  }

  a {
    margin-bottom: 10px;
    opacity: 0.7;
    color: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
