.header {
  position: fixed;
  padding: 20px 0 25px;
  display: flex;
  min-height: 120px;
  width: 100%;
  align-items: center;
  background: linear-gradient(180deg, $color-bg-darkblue 84.9%, rgba(4, 24, 39, 0) 100%);
  color: $color-text-light;
  z-index: 2;

  @include vp-1023 {
    padding: 10px 0 15px;
    min-height: 100px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__contacts {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  max-width: 100%;

  @include vp-1023 {
    margin-right: 20px;
    column-gap: 40px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  color: inherit;
  column-gap: 15px;
  transition: .3s;

  &:hover {
    color: $color-deepsky-blue;

    svg {
      fill: $color-text-light;
    }
  }

  @include vp-1023 {
    display: inline-block;

    span {
      display: none;
    }
  }
}

.header__link svg {
  width: 20px;
  height: 20px;
  fill: $fill-icon;
  transition: .3s;
}

.header__btn {
  margin-right: 50px;
  padding: 11px 15px;
  min-height: 40px;
  background-color: transparent;
  border: 1px solid $color-text-light;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $color-deepsky-blue;
    border-color: $color-deepsky-blue;
  }

  @include vp-1023 {
    display: none;
  }
}
