.header {
  position: sticky;
  padding: 30px 0 25px;
  min-height: 120px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  color: $color-main-text;
  z-index: 2;

  @include vp-1023 {
    padding: 10px 0 15px;
    min-height: 100px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__contacts {
  margin-left: auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;

  @include vp-1023 {
    margin-right: 20px;
    column-gap: 40px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  color: inherit;
  column-gap: 15px;
  transition: .3s;

  &:hover {
    color: $color-deepsky-blue;

    svg {
      fill: $color-default-white;
    }
  }

  @include vp-1023 {
    display: inline-block;

    span {
      display: none;
    }
  }
}

.header__link svg {
  width: 20px;
  height: 20px;
  fill: $fill-icon;
  transition: .3s;
}

.header__btn {
  margin-left: auto;
  margin-right: 62px;
  padding: 11px 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $color-main-text;
  background-color: transparent;
  border: 1px solid $color-main-text;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $color-deepsky-blue;
    border-color: $color-deepsky-blue;
  }

  @include vp-1023 {
    display: none;
  }
}
