.hero {

  padding-top: 305px;
  padding-bottom: 280px;
  background-color: $color-bg-darkblue;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url(../../img/background-desktop.jpg) center / cover no-repeat;
  color: $color-text-light;

  @include vp-1023 {
    padding-top: 180px;
    padding-bottom: 205px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__content {
  padding-left: 130px;

  @include vp-1023 {
    padding-left: 0;
  }


  h2 {
    margin: 0 0 30px 0;
    font-family: "Roboto Condensed";
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
    letter-spacing: 0.07em;


    @include vp-1023 {
      margin-bottom: 0;
      font-size: 64px;
      line-height: 75px;
    }
  }

  p {
    margin-bottom: 50px;
    max-width: 700px;
    font-size: 22px;
    line-height: 34px;

    @include vp-1023 {
      margin-top: 0;
      margin-bottom: 55px;
    }
  }
}

.hero__btn {
  padding: 17px;
  min-height: 55px;
  font-size: 18px;
  line-height: 21px;
  background-color: $color-deepsky-blue;
  text-transform: uppercase;

  @include vp-1023 {
    margin-left: 50px;
  }
}
