.services {
  padding: 65px 0 140px;
  background-color: $color-bg-darkblue;
  color: $color-text-light;
}

.services__container {
  h3 {
    margin-top: 0;
    margin-bottom: 55px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px;
    line-height: 51px;
  }
}



.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  h5 {
    margin-top: 20px;
    padding-right: 30px;
    max-width: 230px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
  }
}

.services__item-link {
  position: relative;
  padding: 30px 40px 60px;
  display: inline-block;
  max-width: 350px;
  width: 100%;
  min-height: 650px;
  color: $color-text-light;
  background-color: $color-bg-darkblue;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url(../../img/background-desktop.jpg) no-repeat;
  background-position: 0 0;
  background-size: cover;

  &:hover {
    // animation: headerLane 3s infinite;
    background: linear-gradient(2deg, rgba(25, 322, 2, 0) 71.72%, rgba(125, 22, 36, 0) 100%), url(../../img/background-desktop.jpg);
    background-size: cover;
  }

  &::before {
    position: absolute;
    content: ">";
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: $fill-icon;
    border-radius: 3px;
  }

  &:first-child {
    background-position: 15%;
  }

  &:nth-child(2) {
    background-position: 45%;
  }

  &:nth-child(3) {
    background-position: 80%;
  }
}


// @keyframes headerLane {
//   0% {
//     background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0)), url(../../img/background-desktop.jpg) no-repeat;
//   }

//   100% {
//     background: linear-gradient(180deg, rgba(255, 132, 36, 0.7) 71.72%, rgba(25, 32, 36, 0)), url(../../img/background-desktop.jpg) no-repeat;
//   }
// }
