.checkbox {
  position: relative;

  input {
    appearance: none;
    position: absolute;


    &:focus-visible+label {
      border-color: $color-black-pearl;
      transition: 0.3s;
    }
  }

  label:hover {
    color: $color-text-dark;
  }

  label {
    padding-left: 25px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: $color-default-white;
    cursor: pointer;
    transition: 0.3s;
  }

  input:checked+label {
    .checkbox__icon {

      &::after {
        border-color: $color-default-white;
        opacity: 1;
      }
    }
  }

  .checkbox__icon {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    z-index: 1;
    transition: .3s;

    &::after {
      position: absolute;
      content: "";
      top: 3px;
      left: 15%;
      width: 9px;
      height: 5px;
      border-left: 2px solid gray;
      border-bottom: 2px solid gray;
      transform: rotate(-45deg);
      z-index: 2;
      transition: 0.3s;
      opacity: 0;
    }
  }
}
